<!DOCTYPE HTML>
<head>
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/cerulean/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>    
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="http://malsup.github.com/jquery.cycle2.js"></script>
</head>
<body>
<div class="container" id="loading-container" style="text-align: center; bottom-margin: 50px; top-margin: 50px">
    <h2>We are loading your history from your Facebook </h2>
    <h2 id="loading-time">Estimating loading time</h2>
</div>
<div id="fb-root"></div>    
<script>
window.fbAsyncInit = function() {
    // init the FB JS SDK
        FB.init({
          appId      : '232807780222349',                        // App ID from the app dashboard
          status     : true,                                 // Check Facebook Login status
          xfbml      : true                                  // Look for social plugins on the page
        });

        FB.getLoginStatus(function(response){
            FB.api('/me/friends', function(response){
                var numFriends = response.data.length;
                // roughly 500 friends == 30 seconds
                var timeInMinutes = Math.ceil(numFriends / 750.0);
                console.log("about to set attribute");
                $("#loading-time").attr("color", "red");
                alert(timeInMinutes.toString());
            });
        });
};

(function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
      }(document));

$( document ).ready(function() {
    console.log( "ready!" );
});
</script>
</body>

