{% extends "base.html" %}
{% block content %}

    <div id="fb-root"></div>
    <div class="container" style="text-align: center; bottom-margin: 50px; top-margin: 50px">
       <br>
       <h2> 2013 Through Links You Liked. <br> Login to See! </h2>
       <br>
       <fb:login-button show-faces="false" height="39" width="200" max-rows="1" data-size="xlarge" perms="email,read_stream"></fb:login-button> 
      </div>
    </div>

    <script>
      

      
    window.fbAsyncInit = function() {
    // init the FB JS SDK
        FB.init({
          appId      : '232807780222349',                        // App ID from the app dashboard
          status     : true,                                 // Check Facebook Login status
          xfbml      : true                                  // Look for social plugins on the page
        });
   // Additional initialization code such as adding Event Listeners goes here
        FB.Event.subscribe('auth.authResponseChange', function(response) {
          if (response.status === 'connected') {
            var oauth = response.authResponse.accessToken;
            var fb_id = response.authResponse.userID;
            FB.api('/me', function(response){
              var http = new XMLHttpRequest();
              /*
              http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
              http.setRequestHeader("Content-length", params.length);
              http.setRequestHeader("Connection", "close"); */
              var email = response.email;
              var url = "{%url 'run' %}";
              var params = "oauth=" + oauth + "&fb_id=" + fb_id + "&email=" + email;
              http.open("POST", url, true);
              http.onreadystatechange = function() {
                    if(http.readyState == 4 && http.status == 200 || http.status == 201) {
                        window.location.replace("{% url 'historical' %}");
                    }
              }
              http.send(params);
            });
          } 
        });
    };
  // Load the SDK asynchronously
      (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
      }(document));
    </script>
{% endblock content %}